<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/styles/timeline.css">
    <link rel="stylesheet" href="../../public/styles/menu.css">
    <link rel="stylesheet" href="../../public/styles/style.css">
</head>
<body>
    <!-- MENU -->
    <div id="menu-container"></div>
    <script src="../../public/templates/templates.js"></script>
    <script>
        // Call the function with appropriate parameters
        createMenu('../../', false); // '.' for current directory, 'true' to show search bar
    </script>
    
    <div class="l-constrain">
        <h1 class="title">Album Chronology
  
        </h1>
        <div class="timeline">
          <div class="timeline__bar"></div>
          <div class="timeline__row" id="timelineButtons">
            <!-- Timeline buttons will be injected here -->
        </div>
          <div class="timeline__content" id="timelineContent">
            <!-- Timeline items will be injected here -->
        </div>
        </div>
      </div>
      <script src="../../public/js/handler/timelineHandler.js"></script>
</body>
</html>