<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Multimedia</title>
    <meta
      name="Quiz"
      content="A recolection of all Taylor Swift related"
    />
    <link rel="stylesheet" href="../../public/styles/multimedia.css" />
    <link rel="stylesheet" href="../../public/styles/menu.css" />
    <link rel="stylesheet" href="../../public/styles/style.css" />
  </head>
  <body>
    <!-- MENU -->
    <div id="menu-container"></div>
    <script src="../../public/templates/templates.js"></script>
    <script>
      // Call the function with appropriate parameters
      createMenu("../../", false); // '.' for current directory, 'true' to show search bar
    </script>

    <section id="videos">
      <h2>Videos</h2>
      <div class="media-content">
        <!-- Videos go here -->
      </div>
    </section>

    <section id="images">
      <h2>Imágenes</h2>
      <div class="media-content">
        <!-- Images go here -->
      </div>
    </section>

    <section id="audios">
      <h2>Audios</h2>
      <!-- Aquí se añadirán los audios -->
      <div class="media-content">
        <audio controls>Tu navegador no soporta el elemento de audio.</audio>
      </div>
    </section>

    <script src="../../public/js/handler/multimediaHandler.js"></script>
    <script src="../../public/js/clases/Multimedia.js"></script>
    <script src="../../public/js/clases/Audio.js"></script>
    <script src="../../public/js/clases/Video.js"></script>
    <script src="../../public/js/clases/Image.js"></script>
  </body>
</html>
