<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/styles/multimedia.css">
    <link rel="stylesheet" href="../../public/styles/menu.css">
    <link rel="stylesheet" href="../../public/styles/style.css">
</head>
<body>
    <!-- MENU -->
    <nav>
        <ul>
            <li><a href="app/view/quiz.html">Biografía</a></li>
            <li><a href="app/view/discografia.html">Discografía</a></li>
            <li><a href="app/view/multimedia.html">Multimedia</a></li>
        </ul>
    </nav>

    <header>
        <h1>Biografía de Taylor Swift</h1>
    </header>

    <section id="videos">
        <h2>Videos</h2>
        <!-- Aquí se añadirán los videos -->
    </section>

    <section id="images">
        <h2>Imágenes</h2>
        <!-- Aquí se añadirán las imágenes -->
    </section>

    <section id="audios">
        <h2>Audios</h2>
        <!-- Aquí se añadirán los audios -->
        <!-- <audio controls>
            Tu navegador no soporta el elemento de audio.
        </audio> -->
    </section>

    <footer>
        <!-- Footer content here -->
    </footer>
    <script src="../../public/js/handler/multimediaHandler.js"></script>
    <script src="../../public/js/clases/Multimedia.js"></script>
    <script src="../../public/js/clases/Audio.js"></script>
    <script src="../../public/js/clases/Video.js"></script>
    <script src="../../public/js/clases/Image.js"></script>
</body>
</html>