section {
  margin: auto;
  max-width: 80%; /* Ajusta esto según tus preferencias */
  background-color: #f0f0f0; /* Color de fondo de la sección */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra opcional para dar profundidad */
}

.media-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.media-content > iframe,
.media-content > img {
  flex: 1 1 300px; /* Cada elemento puede crecer y encogerse, pero comenzará con un tamaño base de 300px */
  min-width: 300px; /* Define un ancho mínimo para los elementos */
  max-width: 100%; /* Asegura que los elementos no sean más anchos que su contenedor */
  padding: 15px; /* Espaciado interno para el contenido */
  border-radius: 20px; /* Bordes redondeados para estética */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave para profundidad */
}

/* Cuando la pantalla es más grande que 600px, muestra dos elementos por fila */
@media (min-width: 601px) {
  .media-content > iframe,
  .media-content > img {
    flex: 1 1 50%; /* Cada elemento toma el 50% del ancho */
  }
}

/* Regla para un elemento solo */
.media-content > iframe:only-child,
.media-content > img:only-child {
  flex: 0 0 100%; /* Si hay un solo elemento, toma todo el ancho */
}
