body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

h1, h2 {
    margin: 0.5rem 0;
}

section {
    padding: 1rem;
    margin: 1rem;
}

audio {
    width: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

/* Base Styles */
#videos, #images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjust this as needed */
    align-items: flex-start;
    gap: 10px; /* Space between items */
}

#videos iframe, #images img {
    flex: 1 1 auto; /* Flexible grow and shrink */
    max-width: 100%; /* Adjust the max-width for larger screens */
    height: auto;
    border: none;
}

h2 {
    width: 100%; /* Makes the header span full width */
    text-align: center;
    margin-top: 20px;
}

/* Responsive Design for smaller devices */
@media screen and (max-width: 768px) {
    #videos iframe, #images img {
        max-width: 100%; /* Full width on smaller screens */
    }
}

/* Drop down */
h2 {
    /* Existing styles */
    cursor: pointer; /* Indicates the headers are clickable */
    user-select: none; /* Prevents text selection */
}

/* Optional: Style for when the section content is visible */
h2.active + .media-content {
    display: block;
}
